<!-- Footer (common to all pages) -->
<footer style="display: block">
    <script defer type="text/javascript" src="/cli-js/Shared/AvoidFooterOverlap.js"> </script>
    <link href="/style/footer.css" rel="stylesheet" type="text/css"/>
    <div class="credits">
        <img src="images/logo_gafas.svg"/>
        <p>Alejandro Rey &copy; <%= new Date().getFullYear() %></p>
        <ul>
            <li><a href="https://twitter.com/alreylz">Twitter</a></li>
            <li><a href="https://github.com/coredamnwork">Github</a></li>
        </ul>
    </div>

</footer>




