// COLOR PALETTE
$dei-blue: #0281B4;
$dei-green: #01AB52;
$dei-yellow: #FFB700;
$dei-magenta: #FF4A8C;
$s2ms-black: #333333;
$uc3m-blue: #275CA2;


$accent-success: #00B050;
$accent-warn: #EF8600;
$accent-error: #D17987;


// PATHS
$iconsPath: "/icons/";
$fontsPath: "/fonts/";


.dei-blue {
  color: $dei-blue;
}

.dei-green {
  color: $dei-green;
}

.dei-yellow {
  color: $dei-yellow;
}

.dei-magenta {
  color: $dei-magenta;
}